<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Contact Me</h1>
      <a href="https://twitter.com/olyazaavr" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://github.com/olyazavr" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/oshestopalova/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="mailto:olga@hubspot.com"><i class="fa fa-envelope fa-2x"></i></a>
      <br>
      <br>
      <img class="small-image" src="images/strawberries.jpg">
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
