<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Olga Shestopalova</h1>
      <p>Computer Science | MIT 2016</p>
    </div>
    <div class="content">
      <p>
        Hi, I'm a software engineer recently graduated from <strong>MIT</strong> (course 6-3) and currently working at <strong>HubSpot</strong> in Cambridge.
      </p>
      <p>
        I am a Moscow-born, Miami-raised developer. I enjoy all things backend (Java, Python); however, after recently launching myself into the React.js world, I may have to revise that statement. When not tinkering with web apps, I enjoy skiing, sailing, Taekwondo, and attempting to grow a small forest in my living room.</p>
      <p>
        <br>
        <img class="company-logo" src="images/hubspot.png">
        I'm currently working at HubSpot, a marketing software company (think- everything you need to get the word out about your product via the internet) and I love it! I'm open to chatting about job opportunities (in our very own beer garden) if you'd like to love your job too.
      </p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
