<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
   <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Resume</h1>
      <p>jobs pls</p>
    </div>

    <div class="container">
      <div class="general-container resume-container">
        <img src="/images/hubspotbig.png"/>
        <div>
          <h3>HubSpot</h3>
          <h4>Software Engineer</h4>
          <h4>February 2016 - present</h4>
          <p>
            Worked on integrating AdWords into the HubSpot Ads platform, creating features all the way through the stack- both backend Java and frontend JavaScript/React.js. Tested and measured the impact of new features, adjusting as necessary after customer feedback and analytics. Refactored the resumebase to make it more modular and clean.
          </p>
      </div>
    </div>

    <div class="general-container resume-container">
      <img src="/images/csail.png"/>
      <div>
        <h3>The Genesis AI Group</h3>
          <h4>Software Engineer</h4>
          <h4>September 2014 - May 2015</h4>
        <p>
          Worked on an Artificial Intelligence story comprehension and analysis program to develop a system that predicts future events in a story based on commonsense rules, past events,character traits and habits, and similar situations.
        </p>
      </div>
    </div>

    <div class="general-container resume-container">
      <img src="/images/originate.png"/>
      <div>
        <h3>Originate</h3>
          <h4>Android Development Intern</h4>
          <h4>June 2014 - August 2014</h4>
        <p>
          Refactored flow of Angie's List Android app, added new functionality, worked on views and model logic, created test suite.
        </p>
      </div>
    </div>

    <div class="general-container resume-container">
      <img src="/images/app_inventor.jpg"/>
      <div>
        <h3>MIT App Inventor</h3>
          <h4>Software Engineer</h4>
          <h4>February 2014 - June 2014</h4>
        <p>
          Fixed bugs in the backend arising from switching from one generation of the product to the next, optimized amount of transactions calls made to the database, added new features to product.
        </p>
      </div>
    </div>

    <div class="general-container resume-container">
      <img src="/images/moka5.png"/>
      <div>
        <h3>MokaFive</h3>
          <h4>Frontend Engineering Intern</h4>
          <h4>June 2013 - August 2013</h4>
        <p>
          Worked on implementing management console UI to control permissions of clients connecting to Cloud Storage using GXT/GWT. Worked in a team with other interns and full-time developers.
        </p>
      </div>
    </div>
    
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
